*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: rgb(35, 90, 190);
}

#toolbar-start{
    display: flex;
    justify-content: center;
    width: 50%;
}
#toolbar-end{
    display: flex;
    justify-content: end;
    width: 50%;
    margin-right: 5%;
}
#btn_plus{
    background-color: rgb(255, 255, 255);
    color: rgb(27, 27, 27);
    font-size: larger;
    font-weight: bold;
    padding: 6px;
    height: 50px;
    width: auto;
    border: 0px;
    border-radius: 5px;
}
#btn_plus:hover{
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #3d3d3d);
}

#contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}
